<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rbq2012.convarter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ActivitySettings" />

        <activity android:name=".configguide.ActivityJs" />

        <activity android:name=".configguide.ActivityFlat" />

        <activity android:name=".activities.ActivityFilePicker" />

        <activity
            android:name=".activities.ActivityCreateLevel"
            android:label="@string/act_title_createlevel"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ActivityRunJs"
            android:label="@string/act_title_runjs" />

        <activity
            android:name=".activities.ActivityModifyFlat"
            android:label="@string/act_title_moflat" />

        <activity
            android:name=".activities.DialogEditLayer"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".activities.DialogPickBlock"
            android:label="@string/pickblock_title"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".activities.ActivityTest"
            android:label="@string/test_title" />

        <activity
            android:name=".test.ActivityMapPicker"
            android:theme="@style/DialogTheme" />

    </application>

</manifest>